PORT=
NODE_ENV=
GEMINI_API_KEY=
ELEVENLABS_API_KEY=
GEMINI_MODEL=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL=
DO_SPACES_SECRET=
DO_SPACES_KEY=
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_ENDPOINT=
DO_SPACES_CDN_ENDPOINT=